<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="My_Runningtest">
  
  <parameter name="username" value="admin"></parameter> 	
  <parameter name="password" value="admin"></parameter>   
  
  
  <classes>
  <class name="seleniummainpkg.My_login_Test">
      
  </class>
  <class name="seleniummainpkg.SubRegitrationTest">
    
    <methods> 
    <include name= "mySubRegitration"> </include>
   <include name="settingname"></include>
    </methods>  
  </class>
      
 </classes>
 </test> <!-- My_Runningtest -->
 </suite> <!-- Suite -->
